/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/normalize-scss/sass/normalize";
@import "node_modules/slick-carousel/slick/slick";
@import "node_modules/slick-carousel/slick/slick-theme";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,400&family=Mitr:wght@300;400&family=Yeseva+One&display=swap');

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }

  /*
     * Remove text-shadow in selection highlight:
     * https://twitter.com/miketaylr/status/12228805301
     *
     * Vendor-prefixed and regular ::selection selectors cannot be combined:
     * https://stackoverflow.com/a/16982510/7133471
     *
     * Customize the background color to match your design.
     */
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  /*
     * A better looking default horizontal rule
     */
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  /*
     * Remove the gap between audio, canvas, iframes,
     * images, videos and the bottom of their containers:
     * https://github.com/h5bp/html5-boilerplate/issues/440
     */
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  /*
     * Remove default fieldset styles.
     */
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /*
     * Allow only vertical resizing of textareas.
     */
  textarea {
    resize: vertical;
  }

  /* ==========================================================================
       Author's custom styles
       ========================================================================== */
  :root {
    --main-bg-color: #fbfaf1;
    --dark-green-color: #1f454f;
    --logo-red-color: #e94f3c;
  }

  body {
    background-color: var(--main-bg-color);
    font-family: "Josefin Sans", sans-serif;
    color: var(--dark-green-color);
  }

  /* INDEX HTML
     ========================================================================== */

  /* navbar */

header {
  min-height: 9rem;
}

  .navbar {
    //background-color: var(--main-bg-color);
    padding: 2.3rem 0;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
  }

  .custom-navbar {
    padding: 1.3rem 0;
  }

  .hover-animation {
    display: block;
    position: relative;
    width: 223px;
    height: 41px;
    overflow: hidden;
  }

  .logo {
    padding: 0;
    position: absolute;
    top: 0;
    width: 223px;
    height: 41px;
    background: url("../img/logo-white.svg") no-repeat center/contain;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .logo-top-animation {
    position: absolute;
    top: 51px;
  }

  .slogan {
    color: var(--logo-red-color);
    position: absolute;
    top: 51px;
    width: 223px;
    height: 41px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .slogan-animation {
    position: absolute;
    top: 0;
  }

  /* navigation */
  .navigation {
    position: relative;
  }

  .navigation-checkbox {
    display: none;
  }

  .navigation-button {
    //background-color: var(--main-bg-color);
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: -2.5rem;
    right: -1.1rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    padding: 2.2rem 1.8rem 0 0;
    cursor: pointer;
    -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .navigation-background {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: absolute;
    top: -1.2rem;
    right: -0.1rem;
    background-color: var(--dark-green-color);
    z-index: 1000;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.3, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.3, 1);
  }

  .navigation-nav {
    height: 100vh;
    padding: 20% 5%;
    z-index: 1500;
    opacity: 0;
    width: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.3, 1);
    transition: all 0.8s cubic-bezier(0.86, 0, 0.3, 1);
    visibility: hidden;
  }

  .navigation-item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
  }

  .navigation-item .navigation-link {
    color: var(--main-bg-color);
  }

  .navigation-item .navigation-link:link,
  .navigation-item .navigation-link:visited {
    font-size: 2.2rem;
    line-height: 36px;
    font-weight: 600;
    color: var(--main-bg-color);
    text-decoration: none;
  }

  .menu-svg {
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
  }

  .navigation-item:hover .menu-svg {
    opacity: 1;
  }

  .navigation-item:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }

  .navigation-checkbox:checked ~ .navigation-background {
    -webkit-transform: scale(80);
    -ms-transform: scale(80);
    transform: scale(80);
  }

  .navigation-checkbox:checked ~ .navigation-nav {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }

  .navigation-checkbox:checked ~ .navigation-button {
    background-color: var(--dark-green-color);
  }

  .navigation-icon {
    position: relative;
    margin: auto 1rem;
  }

  .navigation-icon::before,
  .navigation-icon::after {
    width: 2rem;
    height: 2px;
    //background-color: #000;
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 0.6s, background-color 0.8s;
    transition: transform 0.6s, background-color 0.8s;
  }

  .navigation-icon::before {
    top: -0.3rem;
  }

  .navigation-icon::after {
    top: 0.3rem;
  }

  .navigation-checkbox:checked + .navigation-button .navigation-icon::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #fff;
  }

  .navigation-checkbox:checked + .navigation-button .navigation-icon::after {
    top: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background-color: #fff;
  }

 

@include media-breakpoint-up(lg) {
  .text-large {
    font-size: 5rem;
  }
}

@include media-breakpoint-up(md) {
  .ms-header__title {
    max-width: 70%;
  }
}

@include media-breakpoint-down(md) {
  .ms-header__title {
    max-width: 100%;
  }

  header {min-height: 5rem; }
}

/* ----------SECTION: SHOWCASE-----------*/

#showcase {
  //background-color: var(--dark-green-color);
  height: 100vh;
}


  /* ----------SECTION: MADE BY CHARWA-----------*/
  #made-by-charwa .card {
    position: relative;
    font-size: 0.8rem;
    overflow: hidden;
    background-color: black;
    /* border-radius: 12px; */
  }

  .card-text-1 {
    position: absolute;
    top: -10%;
    left: 4%;
    -webkit-transition: all 0.3s cubic-bezier(0.5, 0.51, 0.78, 0.97);
    transition: all 0.3s cubic-bezier(0.5, 0.51, 0.78, 0.97);
  }

  .card-item {
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
    font-size: 0.8rem;
    border-radius: 13px;
    width: max-content;
    padding: 0rem 0.5rem;
    margin-right: 0px !important;
  }

  .card-text-2 {
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
    font-size: 0.8rem;
    border-radius: 13px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: max-content;
    padding: 0rem 0.5rem;
    position: absolute;
    top: 4%;
    left: 4%;
    -webkit-transition: all 0.3s cubic-bezier(0.5, 0.51, 0.78, 0.97);
    transition: all 0.3s cubic-bezier(0.5, 0.51, 0.78, 0.97);
  }

  .card:hover .card-text-1 {
    top: 4%;
    opacity: 1;
  }

  .card:hover .card-text-2 {
    opacity: 0;
    top: 15%;
  }

  .card-img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }

  .card:hover .card-img {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }

  .show-all-project-link:link,
  .show-all-project-link:visited,
  .show-all-project-link:active {
    color: var(--dark-green-color);
  }

  /* ----------SECTION: CLIENTS AND PARTNERS-----------*/
  .client-slider {
    background-color: var(--dark-green-color);
    padding: 8rem 5rem;
  }

  /* ----------SECTION: OUR SERVICES-----------*/
  #our-services .card {
    height: 28rem;
    color: var(--main-bg-color);
    border-radius: 0;
  }

  .card-list {
    padding-top: 23%;
  }

  .card-1 {
    background-color: #ff6f3d;
  }

  .card-2 {
    background-color: var(--dark-green-color);
  }

  .card-3 {
    background-color: #f7bc13;
  }

  .card-4 {
    background-color: #3e503c;
  }

  .fromUp {
    animation: fromUp 2s ease-in-out;
  }

  @keyframes fromUp {
    0% {
      -webkit-transform: translateY(60px);
      -ms-transform: translateY(60px);
      transform: translateY(60px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* ----------SECTION: THE TEAM-----------*/
  .card-team {
    font-family: "Mitr", sans-serif;
  }

  .team-img {
    background-color: #a5c5c3;
    height: 14rem;
    width: 14rem;
    padding: 8%;
  }

  .card-team .card-text {
    font-weight: 300;
  }

  .circle {
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .linkedin {
    background-color: #2867b2;
  }

  .linkedin:hover {
    border: 2px solid #2867b2;
  }

  .github {
    background-color: #231e1b;
  }

  .github:hover {
    border: 2px solid #231e1b;
  }

  .twitter {
    background-color: #1da1f2;
  }

  .twitter:hover {
    border: 2px solid #1da1f2;
  }

  .behance {
    background-color: #0057FF;
  }

  .behance:hover {
    border: 2px solid #0057FF;
  }

  .instagram {
    background-color: #f00073;
  }

  .instagram:hover {
    border: 2px solid #f00073;
  }

  .vimeo {
    background-color: #1ab7ea;
  }

  .vimeo:hover {
    border: 2px solid #1ab7ea;
  }

  .dribble {
    background-color: #ea4c89;
  }

  .dribble:hover {
    border: 2px solid #ea4c89;
  }

  .team-icon {
    color: var(--main-bg-color);
  }

  /* GENERAL FOOTER
     ========================================================================== */
  #footer {
    background-color: var(--dark-green-color);
    color: var(--main-bg-color);
  }

  #footer .footer-heading {
    font-size: 3.25rem;
  }

  #footer .footer-text {
    font-size: 1.75rem;
  }

  #footer .circle {
    border: 1px solid var(--dark-green-color);
    background-color: var(--main-bg-color);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  #footer .circle:hover {
    background-color: #f7bc13;
    border: 1px solid var(--main-bg-color);
  }

  #footer .circle:hover .team-icon {
    color: var(--main-bg-color);
  }

  #footer .team-icon {
    color: var(--dark-green-color);
    padding-top: 2px;
  }

  #footer a,
  #contact-form a {
    color: #f7bc13;
  }

  /* WORK HTML
     ========================================================================== */

  .brands {
    margin-top: 9rem;
  }

  .work-header {

  }

  .card-text-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid var(--main-bg-color);
    border-radius: 27px;
    width: max-content;
    padding: 0.2rem 3rem;
    color: var(--dark-green-color);
    background-color: var(--main-bg-color);
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }

  .card:hover .card-text-3 {
    opacity: 1;
  }


  .view-case {
    background-color: var(--main-bg-color);
    color: var(--logo-red-color);
    border: 1px solid var(--main-bg-color);
  }


  .view-case-dark {
    background-color: var(--dark-green-color);
    color: var(--main-bg-color);
    border: 1px solid var(--dark-green-color);
  }

  /* CONTACT HTML
     ========================================================================== */

  #contact-form {
    margin: 1rem 0 6rem 0;
  }

  .container-form {
    padding: 4rem 6.25rem 6.25rem;
    background-color: var(--dark-green-color);
    color: var(--main-bg-color);
    border-radius: 22px;
  }

  .form-control {
    background-color: transparent;
    border-radius: 12px;
    color: var(--main-bg-color);
  }

  .form-control:focus {
    background-color: transparent;
    border-color: var(--main-bg-color);
    color: var(--main-bg-color);
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .btn-send {
    font-size: 1.2rem;
    padding: 0.7rem 6rem;
    border-radius: 12px;
    background-color: #f7bc13;
    color: var(--dark-green-color);
  }

  .btn-send:focus {
    box-shadow: none;
    outline: none;
  }

  /* ABOUT US HTML
     ========================================================================== */
  /* text animation */
  .ms-header__title {
    flex: 1 1 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: normal;
    color: var(--dark-green-color);
    line-height: 2.8rem;
  }
  .text-large {
    font-size: 3rem;
  }

  .ms-slider {
    display: inline-block;
    height: 1.3em;
    overflow: hidden;
    vertical-align: middle;
    mask-image: linear-gradient(transparent, white, white, white, transparent);
    mask-type: luminance;
    mask-mode: alpha;
  }

  .ms-slider__words {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    animation-name: wordSlider;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }

  .ms-slider__word {
    display: block;
    line-height: 1.3em;
    text-align: left;
  }

  @keyframes wordSlider {
    0%,
    16% {
      -webkit-transform: translateY(-0.5%);
      -ms-transform: translateY(-0.5%);
      transform: translateY(-0.5%);
    }

    20%,
    36% {
      -webkit-transform: translateY(-17%);
      -ms-transform: translateY(-17%);
      transform: translateY(-17%);
    }

    40%,
    56% {
      -webkit-transform: translateY(-33.5%);
      -ms-transform: translateY(-33.5%);
      transform: translateY(-33.5%);
    }

    60%,
    76% {
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translateY(-50.5%);
    }

    80%,
    96% {
      -webkit-transform: translateY(-67%);
      -ms-transform: translateY(-67%);
      transform: translateY(-67%);
    }

    100% {
      -webkit-transform: translateY(-83%);
      -ms-transform: translateY(-83%);
      transform: translateY(-83%);
    }
  }


/* setup tooltips */
.tooltip-up {
  position: relative;
}
.tooltip-up:before,
.tooltip-up:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.tooltip-up:after {
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0,0,0,.75);
  border-left: 6px solid transparent;
  content: '';
  height: 0;
  top: -10px;
  left:2px;
  width: 0;
}
.tooltip-up:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: -43px;
  white-space: nowrap;
}

/* the animations */
/* fade */
.tooltip-up.fader:after,
.tooltip-up.fader:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip-up.fader:hover:after,
.tooltip-up.fader:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}



  #aboutus .card {
    background-color: var(--dark-green-color);
    border-radius: 22px;
    padding: 2rem;
  }

  .aboutus-img-wrapper {
    position: relative;
  }

  .ability {
    display: none;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 1.25rem;
  }

  .aboutus-img {
    max-height: 28rem;
    width: 100%;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    padding: 15% 0 5% 0;
  }

  .fan-icon,
  .tea-icon {
    width: 6rem;
  }
  .img-name {
    position: absolute;
    top: 5%;
    left: 6%;
    font-size: 1.5rem;
  }
  .arrow {
    position: absolute;
    top: 18%;
    left: 4%;
  }

  .left-arrow {
    display: none;
    position: absolute;
    top: 45%;
    left: 17%;
  }

   .right-arrow {
    display: none;
    position: absolute;
    top: 53%;
    right: 15%;
   }
  .img-icon {
    position: absolute;
    top: 16%;
    left: 18%;
  }

  .img-icon-2 {
    position: absolute;
    top: 17%;
    right: 8%;
  }

  .img-ability {
    position: absolute;
    top: 38%;
    left: 16%;
    font-size: 1rem;
  }

  .img-ability-2 {
    display: none;
    position: absolute;
    top: 43%;
    right: 9%;
  }


  .btn-aboutcard {
    font-size: 1.5rem;
    border-radius: 12px;
    background-color: var(--dark-green-color);
    color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  .btn-text-2,
  .img-icon,
  .img-ability,
  .img-icon-2,
  .img-ability-2
  .left-arrow
  .right-arrow {
    display: none;
  }

  .unlock-svg {
    display: none;
  }

  .btn-aboutcard:hover,
  .btn-aboutus:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    color: var(--main-bg-color);
  }

  .btn-aboutcard:focus {
    box-shadow: none;
    outline: none;
  }

  .join-paragraph {
    color: var(--logo-red-color);
  }

  .btn-aboutus {
    font-size: 2rem;
    padding: 0.7rem 6rem;
    border-radius: 12px;
    background-color: var(--dark-green-color);
    color: var(--main-bg-color);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  .btn-aboutus:focus,
  .btn-aboutus:hover {
    color: var(--main-bg-color);
    box-shadow: none;
    outline: none;
  }

.contact-header > h2 > a {
  color: var(--logo-red-color);
}


  /* `xl` applies to large devices (desktops, less than 1200px) */
  @media (max-width: 1200px) {
    .team-img {
      height: 10rem;
      width: 10rem;
      padding: 5%;
    }

    .aboutus-img {
      max-height: 16rem;
      padding: 12% 0;
    }

    .arrow,
    .img-icon,
    .img-icon-2 {
      width: 80px;
    }

    .img-ability {
      left: 4%;
      line-height: 1 !important;
    }
    .img-ability-2 {
      right: 4%;
      line-height: 1 !important;
    }
  }

  /* `lg` applies to medium devices (tablets, less than 992px) */
  @media (max-width: 992px) {
    .client-slider {
      padding: 4rem 2.5rem;
    }

    #our-services .card {
      height: 22rem;
    }

    #contact-form {
      margin: 1rem 0 3rem 0;
    }

    .container-form {
      padding: 2rem 4.25rem 4.25rem;
    }
  }

  /* `md` applies to small devices (landscape phones, less than 768px) */
  @media (max-width: 768px) {
    .navbar {
      padding: 1.5rem 0;
    }

    .logo {
      width: 9rem;
    }

    .slogan {
      font-size: 0.75rem;
    }

    #video {

    }

    .brands {
      margin-top: 6rem;
      width: 100% !important;
    }

    .client-slider {
      padding: 2rem 1rem;
    }

    .card-list {
      padding-top: 13%;
    }

    #contact-form {
      margin-bottom: 0;
    }

    .container-form {
      padding: 1rem 4rem 2rem;
      border-radius: 0;
    }

    .ms-header__title {
      font-size: 2rem;
    }

    .text {
      margin: 0;
      width: 100% !important;
    }

    #aboutus .card {
      padding: 0.75rem;
    }

    .btn-aboutus {
      font-size: 1.5rem;
      padding: 0.3rem 0.7rem;
    }
  }

  /* `sm` applies to x-small devices (portrait phones, less than 576px) */
  @media (max-width: 576px) {
    .footer-heading {
      font-size: 1.75rem !important;
    }

    .footer-text {
      font-size: 1.25rem !important;
    }

    .container-form {
      padding: 2rem 1rem 4rem 1rem;
    }

    .arrow {
      width: 60px;
    }
  }

  /* ==========================================================================
       Helper classes
       ========================================================================== */
  /*
     * Hide visually and from screen readers
     */
  .hidden,
  [hidden] {
    display: none !important;
  }

  /*
     * Hide only visually, but have it available for screen readers:
     * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
     *
     * 1. For long content, line feeds are not interpreted as spaces and small width
     *    causes content to wrap 1 word per line:
     *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
     */
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }

  /*
     * Extends the .sr-only class to allow the element
     * to be focusable when navigated to via the keyboard:
     * https://www.drupal.org/node/897638
     */
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }

  /*
     * Hide visually and from screen readers, but maintain layout
     */
  .invisible {
    visibility: hidden;
  }

  /*
     * Clearfix: contain floats
     *
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    `contenteditable` attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that receive the `clearfix` class.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }

  /* ==========================================================================
       EXAMPLE Media Queries for Responsive Design.
       These examples override the primary ('mobile first') styles.
       Modify as content requires.
       ========================================================================== */
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

  /* ==========================================================================
       Print styles.
       Inlined to avoid the additional HTTP request:
       https://www.phpied.com/delay-loading-your-print-css/
       ========================================================================== */
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]::after {
      content: " (" attr(href) ")";
    }

    abbr[title]::after {
      content: " (" attr(title) ")";
    }

    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }

    pre {
      white-space: pre-wrap !important;
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }

