@charset "UTF-8";
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Slider */
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Josefin+Sans:ital,wght@0,400;0,600;1,400&family=Mitr:wght@300;400&family=Yeseva+One&display=swap");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/josefin-sans-v20-latin-regular.woff2") format("woff2"), url("./fonts/josefin-sans-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-600 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("./fonts/josefin-sans-v20-latin-600.woff2") format("woff2"), url("./fonts/josefin-sans-v20-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mitr-300 - latin */
@font-face {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("./fonts/mitr-v9-latin-300.woff2") format("woff2"), url("./fonts/mitr-v9-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mitr-regular - latin */
@font-face {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/mitr-v9-latin-regular.woff2") format("woff2"), url("./fonts/mitr-v9-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yeseva-one-regular - latin */
@font-face {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/yeseva-one-v18-latin-regular.woff2") format("woff2"), url("./fonts/yeseva-one-v18-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.mouse {
  background: #F7BC13 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: relative;
  width: 42px;
  height: 78px;
  border-radius: 100px;
  background-size: 100% 200%;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}
.mouse:before, .mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:before {
  width: 36px;
  height: 72px;
  background-color: #1F454F;
  border-radius: 100px;
}
.mouse:after {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  animation: trackBallSlide 5s linear infinite;
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #F7BC13;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #F7BC13;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #F7BC13;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #F7BC13;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #F7BC13;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}
@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes colorText {
  21% {
    color: #F7BC13;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #F7BC13;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #F7BC13;
  }
  90% {
    color: #ffffff;
  }
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */
textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */
:root {
  --main-bg-color: #fbfaf1;
  --dark-green-color: #1f454f;
  --logo-red-color: #e94f3c;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Josefin Sans", sans-serif;
  color: var(--dark-green-color);
}

/* INDEX HTML
   ========================================================================== */
/* navbar */
/* navigation */
/* ----------SECTION: SHOWCASE-----------*/
/* ----------SECTION: MADE BY CHARWA-----------*/
/* ----------SECTION: CLIENTS AND PARTNERS-----------*/
/* ----------SECTION: OUR SERVICES-----------*/
#our-services .card {
  height: 28rem;
  color: var(--main-bg-color);
  border-radius: 0;
}

.fromUp {
  animation: fromUp 2s ease-in-out;
}

@keyframes fromUp {
  0% {
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/* ----------SECTION: THE TEAM-----------*/
.card-team {
  font-family: "Mitr", sans-serif;
}

.team-img {
  background-color: #a5c5c3;
  height: 14rem;
  width: 14rem;
  padding: 8%;
}

.card-team .card-text {
  font-weight: 300;
}

.circle {
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* GENERAL FOOTER
   ========================================================================== */
/* WORK HTML
   ========================================================================== */
.brands {
  margin-top: 9rem;
}

.card-text-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid var(--main-bg-color);
  border-radius: 27px;
  width: max-content;
  padding: 0.2rem 3rem;
  color: var(--dark-green-color);
  background-color: var(--main-bg-color);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card:hover .card-text-3 {
  opacity: 1;
}

.view-case {
  background-color: var(--main-bg-color);
  color: var(--logo-red-color);
  border: 1px solid var(--main-bg-color);
}

.view-case-dark {
  background-color: var(--dark-green-color);
  color: var(--main-bg-color);
  border: 1px solid var(--dark-green-color);
}

/* CONTACT HTML
   ========================================================================== */
#contact-form {
  margin: 1rem 0 6rem 0;
}

.container-form {
  padding: 4rem 6.25rem 6.25rem;
  background-color: var(--dark-green-color);
  color: var(--main-bg-color);
  border-radius: 22px;
}

.form-control {
  background-color: transparent;
  border-radius: 12px;
  color: var(--main-bg-color);
}

.form-control:focus {
  background-color: transparent;
  border-color: var(--main-bg-color);
  color: var(--main-bg-color);
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn-send {
  font-size: 1.2rem;
  padding: 0.7rem 6rem;
  border-radius: 12px;
  background-color: #f7bc13;
  color: var(--dark-green-color);
}

.btn-send:focus {
  box-shadow: none;
  outline: none;
}

/* ABOUT US HTML
   ========================================================================== */
/* text animation */
.ms-header__title {
  flex: 1 1 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: normal;
  color: var(--dark-green-color);
  line-height: 2.8rem;
}

.text-large {
  font-size: 3rem;
}

@keyframes wordSlider {
  0%, 16% {
    -webkit-transform: translateY(-0.5%);
    -ms-transform: translateY(-0.5%);
    transform: translateY(-0.5%);
  }
  20%, 36% {
    -webkit-transform: translateY(-17%);
    -ms-transform: translateY(-17%);
    transform: translateY(-17%);
  }
  40%, 56% {
    -webkit-transform: translateY(-33.5%);
    -ms-transform: translateY(-33.5%);
    transform: translateY(-33.5%);
  }
  60%, 76% {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translateY(-50.5%);
  }
  80%, 96% {
    -webkit-transform: translateY(-67%);
    -ms-transform: translateY(-67%);
    transform: translateY(-67%);
  }
  100% {
    -webkit-transform: translateY(-83%);
    -ms-transform: translateY(-83%);
    transform: translateY(-83%);
  }
}
@keyframes wordSlider1 {
  0%, 16% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  20%, 36% {
    -webkit-transform: translateY(-16.66%);
    -ms-transform: translateY(-16.66%);
    transform: translateY(-16.66%);
  }
  40%, 56% {
    -webkit-transform: translateY(-33.32%);
    -ms-transform: translateY(-33.32%);
    transform: translateY(-33.32%);
  }
  60%, 76% {
    -webkit-transform: translate(-49.98%);
    -ms-transform: translate(-49.98%);
    transform: translateY(-49.98%);
  }
  80%, 96% {
    -webkit-transform: translateY(-66.64%);
    -ms-transform: translateY(-66.64%);
    transform: translateY(-66.64%);
  }
  100% {
    -webkit-transform: translateY(-83.3%);
    -ms-transform: translateY(-83.3%);
    transform: translateY(-83.3%);
  }
}
.left-arrow {
  position: absolute;
  top: 45%;
  left: 17%;
}

.right-arrow {
  position: absolute;
  top: 53%;
  right: 15%;
}

.img-icon {
  position: absolute;
  top: 16%;
  left: 18%;
}

.img-icon-2 {
  position: absolute;
  top: 17%;
  right: 8%;
}

.img-ability {
  position: absolute;
  top: 38%;
  left: 16%;
  font-size: 1rem;
}

.img-ability-2 {
  position: absolute;
  top: 43%;
  right: 9%;
}

.btn-aboutcard {
  font-size: 1.5rem;
  border-radius: 12px;
  background-color: var(--dark-green-color);
  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.unlock-svg {
  display: none;
}

.btn-aboutcard:hover,
.btn-aboutus:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  color: var(--main-bg-color);
}

.btn-aboutcard:focus {
  box-shadow: none;
  outline: none;
}

.join-paragraph {
  color: var(--logo-red-color);
}

.btn-aboutus:focus,
.btn-aboutus:hover {
  color: var(--main-bg-color);
  box-shadow: none;
  outline: none;
}

.contact-header > h2 > a {
  color: var(--logo-red-color);
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
  .team-img {
    height: 10rem;
    width: 10rem;
    padding: 5%;
  }

  .img-ability {
    left: 4%;
    line-height: 1 !important;
  }

  .img-ability-2 {
    right: 4%;
    line-height: 1 !important;
  }
}
/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .client-slider {
    padding: 4rem 2.5rem;
  }

  #our-services .card {
    height: 22rem;
  }

  #contact-form {
    margin: 1rem 0 3rem 0;
  }

  .container-form {
    padding: 2rem 4.25rem 4.25rem;
  }
}
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .navbar {
    padding: 1.5rem 0;
  }

  .logo {
    width: 9rem;
  }

  .slogan {
    font-size: 0.75rem;
  }

  .brands {
    margin-top: 6rem;
    width: 100% !important;
  }

  .client-slider {
    padding: 2rem 1rem;
  }

  .card-list {
    padding-top: 13%;
  }

  #contact-form {
    margin-bottom: 0;
  }

  .container-form {
    padding: 1rem 4rem 2rem;
    border-radius: 0;
  }

  .ms-header__title {
    font-size: 2rem;
  }

  .text {
    margin: 0;
    width: 100% !important;
  }
}
/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .footer-heading {
    font-size: 1.75rem !important;
  }

  .footer-text {
    font-size: 1.25rem !important;
  }

  .container-form {
    padding: 2rem 1rem 4rem 1rem;
  }
}
/* ==========================================================================
     Helper classes
     ========================================================================== */
/*
   * Hide visually and from screen readers
   */
/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */
/*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
@media print {
  *,
*::before,
*::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}